@page "/profile"
@using BlazorFrontend.DTO.Profiles
@using BlazorFrontend.Helpers
@using BlazorFrontend.Services.Interfaces
@inject IProfileService ProfileService

<h3>Мій профіль</h3>

@if (profile == null)
{
    <p>Завантаження...</p>
}
else
{
    <div class="card p-3 shadow">
        <img src="@profile.AvatarUrl" width="100" />
        <h5>@profile.City, @profile.Age</h5>
        <p>@profile.Description</p>
        <p><strong>Інтереси:</strong> @string.Join(", ", profile.Interests)</p>
    </div>
}

@code {
    private ProfileDto? profile;

    protected override async Task OnInitializedAsync()
    {
        var userId = UserContext.UserId; 
        profile = await ProfileService.GetByUserIdAsync(userId);
    }
}
